my bini gwe mbg.json
{
  "name": "my bini gwe mbg",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Kamu adalah ahli analisis sentimen kebijakan publik. > Tugas: Analisis teks komentar masyarakat tentang program 'Makan Bergizi Gratis'.\n\nTeks: {{ $json.full_text }}\n\nATURAN OUTPUT (WAJIB):\n\nJawab HANYA dalam format JSON murni.\n\nDILARANG memberikan kalimat pembuka (seperti \"Berikut hasil...\") atau kalimat penutup.\n\nDILARANG menggunakan tanda backtick Markdown (json ... ).\n\nFORMAT JSON:\n{\n\"sentimen\": \"Isi dengan satu kata: Positif/Negatif/Netral\",\n\"alasan\": \"Berikan alasan singkat maksimal 10 kata\",\n\"kategori\": \"Kritik Anggaran/Dukungan Gizi/Keluhan Teknis\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        192
      ],
      "id": "9a8b4f01-c250-4b99-b53e-7f9607bc5845",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a29831cd-b836-4416-b19e-c02f5845cf42",
              "name": "komentar",
              "value": "={{ $('Loop Over Items').item.json.full_text }}",
              "type": "string"
            },
            {
              "id": "72ad4288-3be7-423f-938a-1563af91aa91",
              "name": "sentimen",
              "value": "=={{ JSON.parse($json.output).sentimen }}",
              "type": "string"
            },
            {
              "id": "c2aae85b-4f6c-4999-b237-f4956123232d",
              "name": "username",
              "value": "=={{ $('Loop Over Items').item.json.username }}",
              "type": "string"
            },
            {
              "id": "4e49eca2-afb6-49fb-812d-236601d95e41",
              "name": "likes",
              "value": "=={{ $('Loop Over Items').item.json.likes }}",
              "type": "string"
            },
            {
              "id": "a69da913-9a95-41c6-b47a-726bcf4bdb52",
              "name": "waktu",
              "value": "=={{ $('Loop Over Items').item.json.waktu }}",
              "type": "string"
            },
            {
              "id": "362bc19a-5bb7-44a9-8841-22567800be36",
              "name": "video_title",
              "value": "=={{ $('Loop Over Items').item.json.video_title }}",
              "type": "string"
            },
            {
              "id": "9206f68c-94f3-4978-9dcf-19b4e1852541",
              "name": "alasan",
              "value": "=={{ JSON.parse($json.output).alasan }}",
              "type": "string"
            },
            {
              "id": "dc8977bc-4bc5-464c-9873-297b7ccd946a",
              "name": "kategori",
              "value": "=={{ JSON.parse($json.output).kategori }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        192
      ],
      "id": "784a44ce-1306-4b3e-955c-291e3948c4a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        160,
        192
      ],
      "id": "01886160-39c1-4815-8091-832e8d5cdb17",
      "name": "Wait",
      "webhookId": "ddaf553b-0aad-4f79-8b3b-b33c851d033d"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        384,
        384
      ],
      "id": "1c6d1c66-c007-49ac-824c-f8c62711c870",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "usSBZxdCNL1ZUaVe",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        176
      ],
      "id": "18a253f0-d893-49fc-9530-1fac0cd69e33",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "processed_mbg",
        "updateKey": "komentar",
        "fields": "komentar,sentimen,username,likes,waktu,video_title",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        912,
        192
      ],
      "id": "9f2a3f97-75c2-4b3c-9347-712b2c09c3d9",
      "name": "Update documents",
      "credentials": {
        "mongoDb": {
          "id": "9FieOsNx9yNZ6d48",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "collection": "raw_mbg",
        "options": {},
        "query": "{\n  \"status_analisis\": \"belum\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -176,
        -32
      ],
      "id": "5f0024a4-e89d-4639-bb36-2ac327bb5034",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "9FieOsNx9yNZ6d48",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1430c77b-c207-42ba-9c05-82181611f105",
              "name": "status_analisis",
              "value": "sudah",
              "type": "string"
            },
            {
              "id": "00e6e826-1cbd-4eca-b095-aa284099b87f",
              "name": "full_text",
              "value": "=={{ $json.komentar }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        192
      ],
      "id": "bf9b1d97-542b-42e1-9ccb-92b91bb7bd5e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "raw_mbg",
        "updateKey": "full_text",
        "fields": "status_analisis",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1280,
        192
      ],
      "id": "e9eb3953-7335-4930-b30e-c0adfa5299f6",
      "name": "Update documents1",
      "credentials": {
        "mongoDb": {
          "id": "9FieOsNx9yNZ6d48",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -160
      ],
      "id": "f5342e34-f728-4922-8069-795fa8aa0e14",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -32
      ],
      "id": "2b05ceb6-8e5e-4501-a297-10f98af4362f",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update documents": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update documents1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e3f92010-1d65-4557-814c-8b50ed458ef7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e956fed1fbc67ad18890a305f21893142260d38c7bbeb39dfe664cea2f0f2d25"
  },
  "id": "pPHE13CKpZZmq2gd",
  "tags": []
}