workflow_mbg.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        128
      ],
      "id": "585331fd-127a-436d-adbd-c2446928ce80",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/data_mbg_yt_final.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        128
      ],
      "id": "261742d6-d7a2-4a55-bfb1-5c56d38cdac1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "086c065d-58f9-44d0-b5b0-024868456cd8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Kamu adalah ahli analisis sentimen kebijakan publik. > Tugas: Analisis teks komentar masyarakat tentang program 'Makan Bergizi Gratis'.\n\nTeks: {{ $json.full_text }}\n\nATURAN OUTPUT (WAJIB):\n\nJawab HANYA dalam format JSON murni.\n\nDILARANG memberikan kalimat pembuka (seperti \"Berikut hasil...\") atau kalimat penutup.\n\nDILARANG menggunakan tanda backtick Markdown (json ... ).\n\nFORMAT JSON:\n{\n\"sentimen\": \"Isi dengan satu kata: Positif/Negatif/Netral\",\n\"alasan\": \"Berikan alasan singkat maksimal 10 kata\",\n\"kategori\": \"Kritik Anggaran/Dukungan Gizi/Keluhan Teknis\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        128
      ],
      "id": "9a8b4f01-c250-4b99-b53e-7f9607bc5845",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a29831cd-b836-4416-b19e-c02f5845cf42",
              "name": "komentar",
              "value": "={{ $('Loop Over Items').item.json.full_text }}",
              "type": "string"
            },
            {
              "id": "72ad4288-3be7-423f-938a-1563af91aa91",
              "name": "sentimen",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "c2aae85b-4f6c-4999-b237-f4956123232d",
              "name": "username",
              "value": "={{ $('Extract from File').item.json.username }}",
              "type": "string"
            },
            {
              "id": "4e49eca2-afb6-49fb-812d-236601d95e41",
              "name": "likes",
              "value": "={{ $('Extract from File').item.json.likes }}",
              "type": "string"
            },
            {
              "id": "a69da913-9a95-41c6-b47a-726bcf4bdb52",
              "name": "waktu",
              "value": "={{ $('Extract from File').item.json.waktu }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        128
      ],
      "id": "784a44ce-1306-4b3e-955c-291e3948c4a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        128
      ],
      "id": "01886160-39c1-4815-8091-832e8d5cdb17",
      "name": "Wait",
      "webhookId": "ddaf553b-0aad-4f79-8b3b-b33c851d033d"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        368
      ],
      "id": "1c6d1c66-c007-49ac-824c-f8c62711c870",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "usSBZxdCNL1ZUaVe",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        416
      ],
      "id": "18a253f0-d893-49fc-9530-1fac0cd69e33",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "hasil_sentimen",
        "updateKey": "komentar",
        "fields": "komentar,sentimen,username,likes,waktu",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1024,
        128
      ],
      "id": "9f2a3f97-75c2-4b3c-9347-712b2c09c3d9",
      "name": "Update documents",
      "credentials": {
        "mongoDb": {
          "id": "1YVnSj8R8Hn0utLX",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update documents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "00f18867-6f1c-4063-b7e3-e1c20610ba47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e956fed1fbc67ad18890a305f21893142260d38c7bbeb39dfe664cea2f0f2d25"
  },
  "id": "pPHE13CKpZZmq2gd",
  "tags": []
}